body {
  background-image: url(fon.jpg);
  background:
    linear-gradient(rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)),
    url(fon.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

div {
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  display: inline-block;
}




h1 {
 
  font-size: calc(5px + 3vw);
  font-weight: 700;
  color: #fff;
 
}

h2 {
  display: inline;
  font-size: calc(5px + 5vw);
  color: #fff;
 
}

.h2 {
  color: #ff002b;

}

.btn{
  position: absolute;
 top: 230%;
 left: 50%;
transform: translate(-50%, -50%) ;
font-size: 36px;
color: #fff;
background-color: #05cd51;
border-radius: 10px;
width: 200px;
border: solid 3px red;
}


.hidden {
  display: none;
}

.avaphoto {
  position: relative;
  left: 50%;
  right: 50%;
  display: flex;
  justify-content: center;
  /*центрируем элемент по горизонтали */
  align-items: center;
  /* и вертикали */
  width: 400px;
  /* задали размеры блоку-родителю */
  height: 400px;
  overflow: hidden;
  /* если элемент больше блока-родителя – обрезаем лишнее */
border-radius: 50px;

}
